/*PAGE PORTFOLIO Galery*/
/*filter*/
.galery-section__filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .galery-section__filter-element:not(:last-child) {
    margin-right: 8px;
  }
  .galery-section__portfolio-btn {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background-color: var(--noactbtn-bgd);
    color: var(--noactbtn-color);
    border: 0;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .galery-section__portfolio-btn:hover,
  .galery-section__portfolio-btn:focus {
    background-color: var(--actbtn-bcg);
    color: var(--actbtn-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px var(--shadow-0-1), 0px 1px 2px var(--shadow-0-08),
      0px 2px 2px var(--shadow-0-12);
  }
  /*galery works*/
  .galery-section__galery-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--margin-card));
    margin-top: calc(-1 * var(--margin-card));
  }
  .galery-section__galery-element {
    flex-basis: calc((100% - 3 * var(--margin-card)) / 3);
    margin-left: var(--margin-card);
    margin-top: var(--margin-card);
    background: var(--main-bcg-color);
  }
  .galery-section__galery-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .galery-section__galery-link:hover,
  .galery-section__galery-link:focus {
    box-shadow: 0px 1px 1px var(--shadow-0-12), 0px 4px 4px var(--shadow-0-06),
      1px 4px 6px var(--shadow-0-16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .galery-section__galery-el-thumb {
    position: relative;
    overflow: hidden;
  }
  .galery-section__galery-el-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 63px 24px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--galery-overlay-color);
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .galery-section__galery-link:hover .galery-section__galery-el-overlay,
  .galery-section__galery-link:focus .galery-section__galery-el-overlay {
    transform: translateY(0);
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .galery-section__galery-el-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
    color: var(--hero-footer-text-color);
  }
  .galery-section__galery-el-caption {
    padding: 20px 24px;
    border-right: 1px solid var(--border-color-portfolio);
    border-bottom: 1px solid var(--border-color-portfolio);
    border-left: 1px solid var(--border-color-portfolio);
  }
  .galery-section__galery-el-caption-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--headers-nav-color);
  }
  .galery-section__galery-el-caption-dscr {
    font-size: 16px;
    line-height: 1.87;
    color: var(--main-text-color);
  }